:root{
    --colorScheme : 261;
}
.row {
    display: flex;
  }
  
.column {
    background-color: hsl(var(--colorScheme), 30%, 68%);
    padding: 2%;
    flex: 50%;
    border-style: solid;
    border-width: 2px;
    height: 800px;
}

.list {
    background-color: hsl(var(--colorScheme), 30%, 85%);
    overflow: auto;
    height: 250px;
    border-style: solid;
    border-width: 1px;
}

.question {
    border-style: dotted;
    border-width: 1px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.textInput {
    overflow-y: scroll;
    white-space: pre-wrap;
    height: 200px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}

body{
    background-color: hsl(var(--colorScheme), 30%, 25%);
}

#wrap {
    overflow: auto;
    height: 100px;
}

th{
    background-color: gray;
    color: rgb(29, 28, 28);
    text-align: center;
}

td {
    background-color: rgb(172, 172, 172);
    color: rgb(41, 39, 39);
}

table {
    border-collapse: collapse;
  }

table, th, td {
    border: 1px solid black;
  }